@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.wrapper {
  min-height: 100%;
  min-width: 1100px;
  overflow: hidden;
}

.wrapper:after {
  content: "";
  display: block;
  height: 77px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Gotham';
	font-size: 18px;
	font-weight: normal;
	line-height: 1.42;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

/*
* header
*/

.header {
    background: #27273e;
    padding-bottom: 14px;
}

.logo {
    padding-top: 12px;
    display: inline-block;
}

.contacts {
    padding-top: 20px;
    float: right;
}

.contacts__phone {
    font-weight: bold;
    color: #ffffff;
    font-size: 21px;
    text-decoration: none;
    display: block;
}

.contacts__shedule {
    float: right;
    color: #ec1e79;
    opacity: .7;
    font-weight: bold;
    font-size: 14px;
}

/*
* sidebar
*/

.sidebar {
    width: 160px;
    padding-top: 45px;
    float: left;
}
.nav-menu {
    list-style: none;
}

.nav-menu__link {
    text-decoration: none;
    display: inline-block;
}

.nav-menu__item {
    display: inline-block;
    margin-bottom: 30px;
}

.nav-menu__item:last-child {
    margin-bottom: 0;
}

.nav-menu__icon {
    display: inline-block;
    vertical-align: middle;
}
.nav-menu__text {
    font-size: 12px;
    color: #ec1e79;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding-left: 18px;
}

.nav-menu__item_active .nav-menu__text {
  color: #221f1f;
}

.nav-menu__item_active .nav-menu__icon-main {
  background-image: url('../img/logo/main_icon.png');
}

.nav-menu__item_active .nav-menu__icon-reviews {
  background-image: url('../img/logo/feed_icon.png');
}

.nav-menu__item_active .nav-menu__icon-rate {
  background-image: url('../img/logo/wallet_icon.png');
}

.nav-menu__link:hover .nav-menu__text {
    color: #221f1f;
}

.nav-menu__icon-main {
    background-image: url('../img/logo/main_icon-color.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.nav-menu__link:hover .nav-menu__icon-main {
    background-image: url('../img/logo/main_icon.png');
}

.nav-menu__icon-rate {
    background-image: url('../img/logo/wallet_icon-color.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.nav-menu__link:hover .nav-menu__icon-rate {
    background-image: url('../img/logo/wallet_icon.png');
}

.nav-menu__icon-reviews {
    background-image: url('../img/logo/feed_icon-color.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.nav-menu__link:hover .nav-menu__icon-reviews {
    background-image: url('../img/logo/feed_icon.png');
}

/*
* main page content
*/

.main-image {
  position: relative;
  margin-bottom: 29px;
}

.main-image__pic {
  width: 880px;
}

.main-image__title {
  position: absolute;
  top: 160px;
  left: 69px;
  font-size: 49px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.main-content {
  float: left;
  width: 880px;
}

.main-content__text {
  margin-bottom: 25px;
  max-width: 700px;
}

.main-content__text_offer {
    font-weight: bold;
    margin-bottom: 20px;
}

.main-content__list {
	color: #ec1e79;
}

.main-content__item {
  margin-bottom: 16px;
}

.main-content__item-text {
    color: #000000;
}

.description {
    width: 700px;
    background-color: #27273e;
    color: white;
    padding: 19px 58px 16px 29px;
    margin-bottom: 60px;
}

.description__pink-text {
    color: #ec1e79;
    font-weight: bold;
}

/*
* Partners
*/

.partners {
  padding-bottom: 70px;
}
.partners__title {
    color: #221f1f;
    font-size: 49px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.partners__list {
    list-style: none;
    width: 700px;
}

.partners__item {
    vertical-align: middle;
    display: inline-table;
    text-align: center;
}

.partners__link {
  display: inline-block;
}

.partners__item-logo1 {
    margin-right: 127px;
    width: 160px;
    height: 41px;
    background-image: url('../img/logo/logob-1.png');
}

.partners__item-logo1:hover {
    background-image: url('../img/logo/logo-1.png');
    background-repeat: no-repeat;
}

.partners__item-logo2 {
    margin-right: 145px;
    width: 123px;
    height: 62px;
    background-image: url('../img/logo/logob-2.png')
}

.partners__item-logo2:hover {
     background-image: url('../img/logo/logo-2.png');
     background-repeat: no-repeat;
}

.partners__item-logo3 {
    width: 130px;
    height: 62px;
    background-image: url('../img/logo/logob-3.png')
}

.partners__item-logo3:hover {
    background-image: url('../img/logo/logo-3.png');
    background-repeat: no-repeat;
}

.partners__item-logo4 {
    margin-right: 121px;
    width: 160px;
    height: 62px;
    background-image: url('../img/logo/logob-4.png')
}

.partners__item-logo4:hover {
    background-image: url('../img/logo/logo-4.png');
    background-repeat: no-repeat;
}

.partners__item-logo5 {
    margin-right: 177px;
    width: 137px;
    height: 62px;
    background-image: url('../img/logo/logob-5.png')
}

.partners__item-logo5:hover {
    background-image: url('../img/logo/logo-5.png');
    background-repeat: no-repeat;
}

.partners__item-logo6 {
    width: 51px;
    height: 62px;
    background-image: url('../img/logo/logob-6.png')
}

.partners__item-logo6:hover {
    background-image: url('../img/logo/logo-6.png');
    background-repeat: no-repeat;
}

/*
* footer
*/

.footer {
    height: 77px;
    margin-top: -77px;
    background-color: #27273e;
    padding-top: 14px;
}

.author {
    float: left;
    width: 270px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
}

.author__link {
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
}

.author__name {
    font-weight: bold;
    color: #ffffff;
}

.footer-logo {
    width: 610px;
    display: inline-block;
    text-align: center;
}

.footer-logo__link {
    display: inline-block;
}

.social {
    width: 180px;
    float: right;
    display: inline-block;
}

.social__text {
    color: #ffffff;
	  font-weight: bold;
    font-size: 14px;
    margin-bottom: 9px;
}

.social-list {
	  list-style: none;
}

.social-list__item {
	  display: inline-block;
    margin-right: 10px;
}

.social-list__item:last-child {
    margin-right: 0;
}

.social-link__icon {
    width: 20px;
    height: 20px;
	  background-repeat: no-repeat;
    display: inline-block;
}

.social-link__icon_vk {
	background-image: url('../img/logo/vk.png');
}

.social-link__icon_vk:hover {
	background-image: url('../img/logo/vk-color.png');
}

.social-link__icon_fb {
	background-image: url('../img/logo/fb.png');
}

.social-link__icon_fb:hover {
	background-image: url('../img/logo/fb-color.png');
}

.social-link__icon_gl {
	background-image: url('../img/logo/google.png');
}

.social-link__icon_gl:hover {
	background-image: url('../img/logo/google-color.png');
}

.social-link__icon_tw {
	background-image: url('../img/logo/twitter.png');
}

.social-link__icon_tw:hover {
	background-image: url('../img/logo/twitter-color.png');
}

.social-link__icon_ml {
	background-image: url('../img/logo/mail.png');
}

.social-link__icon_ml:hover {
	background-image: url('../img/logo/mail-color.png');
}


/*
* reviews page
*/
.main {
  width: 880px;
  padding-top: 44px;
  display: inline-block;
}

.main-nav {
    opacity: 0.8;
    font-size: 14px;
    font-style: italic;
}

.main-nav__links {
    color: #ec1e79;
}

.main__title {
    font-size: 49px;
}

.main__list {
    list-style-type: none;
}

.main__item {
  width: 880px;
  border-bottom: solid 2px #f5f5f5;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.main__item:last-child {
  border-bottom: none;
}

.item-avatar {
    width: 160px;
    float: left;
    text-align: center;
}

.main__item-img {
    float: left;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.main__item-content {
    width: 700px;
    float: left;
    padding-left: 20px;
    display: inline-block;
}
.review-date {
    font-size: 14px;
    color: rgb(101,100,100);
    display: block;
}

.review-author {
    font-weight: bold;
    display: block;
    padding-top: 10px;
    margin-bottom: 20px;
}

.review-text {
  font-size: 18px;
  font-weight: 300;
  display: inline;
  padding-top: 20px;
}

.navigation {
  display: inline-block;
  padding-left: 210px;
  margin-bottom: 70px;
}

.navigation__text {
  display: inherit;
  font-size: 14px;
  font-weight: 300;
  color: #656464;
}

.navigation__list {
    text-align: center;
    display: inherit;
}

.navigation__item {
    height: 25px;
	  width: 25px;
    text-align: center;
	  display: inline-block;
}

.navigation__link {
    text-decoration: none;
	font-weight: bold;
    font-size: 14px;
}

.navigation__item_active {
    background-color: #27273e;
    border-radius: 20%;
}

.navigation__link_active {
    color: #ec1e79;
}

/*
* form
*/

.form {
    width: 700px;
	  background-color: #f5f5f5;
    border-radius: 3px;
    padding: 50px 70px;
    margin-bottom: 70px;
}

.form__title {
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 28px;
}

.form__row {
  margin-bottom: 20px;
}
.form__cell {
    width: 270px;
    display: block;
    float: left;
    margin-bottom: 18px;
}

.form__cell:first-child {
  margin-right: 20px;
}

.form__field-title {
	  font-size: 14px;
	  color: #000000;
    margin-bottom: 8px;
}

.form__input-text {
    display: inline-block;
	  width: 100%;
    height: 45px;
    padding: 13px 8px;
	  border: 1px solid transparent;
    border-radius: 3px;
    font-size: 14px;
}

.form__input-text::-webkit-input-placeholder {
  color:#a9a8a8;
}
.form__input-text::-moz-placeholder {
  color:#a9a8a8;
}/* Firefox 19+ */

.form__input-text:focus {
    border-color: #ec1e79;
    outline: none;
}
.form__textarea {
    height: 90px;
	  width: 100%;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 7px 9px;
    resize: none;
    font-size: 14px;
}
.form__textarea:focus {
    border-color: #ec1e79;
    outline: none;
}

.form__radio-elem {
  display: none;
  vertical-align: middle;
}

.form__radio-fake {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid #cacaca;
  display: inline-block;
  background: -webkit-linear-gradient(top, #fdfdfd 0%,#ececec 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fdfdfd 0%,#ececec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
}

.form__radio-fake:after {
  content: "";
  display: none;
  width: 8px;
  height: 8px;
  background: #ec1e79;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.form__radio-text {
  display: inline-block;
  vertical-align: middle;
}

.form__radio-elem:checked + .form__radio-fake {
    border: 1px solid #ec1e79;
}

.form__radio-elem:checked + .form__radio-fake:after {
    display: block;
}

.form__radio-elem:checked + .form__radio-fake + .form__radio-text {
    color: #ec1e79;
}

.form__controls-left, .form__controls-right {
    float: left;
    width: 50%;
}

.form__btns {
  display: inline;
}

.form__controls {
  display: inline;
}

.form__controls-title {
  display: inline-block;
}

.form__controls-right {
  display: inline;
  text-align: right;
}

.form__submit {
    width: 140px;
	  height: 45px;
	  background-color: #27273e;
	  text-align: center;
	  text-transform: uppercase;
	  font-weight: bold;
	  font-size: 12px;
	  color: #ffffff;
    border: 0px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

.form__send:hover {
	  background-color: #ec1e79;
}


/*
* tariffs
*/

.prices {
    width: 880px;
    padding-top: 44px;
    padding-bottom: 100px;
    float: right;
    box-sizing: border-box;
}

.prices-nav {
    font-size: 14px;
    font-style: italic;
    opacity: 0.8;
    margin-bottom: 26px;
}

.prices-title {
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}
.prices-nav__link {
    color: #ec1e79;
}

.tariffs {
    width: 880px;
    display: block;
}

.tariffs__list {
  width: 100%;
}

.tariffs__item {
    width: 250px;
    padding-top: 50px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 39px;
}

.tariffs__price {
    font-size: 18px;
    font-weight: bold;
    padding-top: 27px;
    width: 240px;
}

.tariffs__text {
  font-size: 14,02px;
  padding-top: 15px;
}

.tariffs__img1 {
    background-image: url('../img/content/james-pond.jpg');
    width: 250px;
    height: 150px;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.img-title {
  color: #5dd1f8;
  font-size: 24px;
  font-weight: bold;
  padding-top: 25%;
  text-transform: uppercase;
  display: block;
}

.pink-title {
    color: #ec1e79;
}

.tariffs__img2 {
    background-image: url('../img/content/breather.jpg');
    width: 250px;
    height: 150px;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.tariffs__img3 {
    background-image: url('../img/content/breather2.jpg');
    width: 250px;
    height: 150px;
    background-repeat: no-repeat;
    border-radius: 3px;
}


.tariffs__img4 {
    background-image: url('../img/content/crew.jpg');
    width: 250px;
    height: 150px;
    background-repeat: no-repeat;
    border-radius: 3px;
}


.tariffs__img5 {
    background-image: url('../img/content/bench-accounting.jpg');
    width: 250px;
    height: 150px;
    background-repeat: no-repeat;
    border-radius: 3px;
}


.tariffs__img6 {
    background-image: url('../img/content/breather3.jpg');
    width: 250px;
    height: 150px;
    background-repeat: no-repeat;
    border-radius: 3px;
}


.tariffs__text {
    font-size: 14px;
    font-weight: 300;
    width: 240px;
}
