@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.wrapper {
  min-height: 100%;
  min-width: 1100px;
  overflow: hidden;
}

.wrapper:after {
  content: "";
  display: block;
  height: 77px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Gotham';
	font-size: 18px;
	font-weight: normal;
	line-height: 1.42;
}

a {
  display: inline-block;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.welcome__pic {
  margin-bottom: 15px;
}

.welcome__btn {
  width: 182px;
  height: 44px;
  padding: 10px 20px;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #ec1e79;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border: 3px solid #ec1e79;
  letter-spacing: 1px;
  margin: 0 auto;
}

.welcome__btn:hover {
  color: #fff;
  background: #ec1e79;
  transition: 0.8s;
}

.wrapper_welcome {
  background: url('../img/background/background-welcome.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  min-width: initial;
  position: relative;
}

.wrapper_welcome:before {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.welcome {
  width: 190px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/*
* header
*/

.header {
    background: #27273e;
    padding: 5px 0;
}

.header__logo {
  display: inline-block;
}

.logo {
    display: inline-block;
    padding-top: 7px;
}

.contacts {
    display: inline-block;
    float: right;
}

.contacts__elem {
  position: relative;
}

.contacts__elem:hover .contacts__dropdown {
  display: block;
}

.contacts__dropdown {
  padding: 12px 6px;
  box-shadow: 0px 0px 10px 0px rgba(23, 59, 117, 0.55);
  background: #fff;
  border-radius: 5px 0 5px 5px;
  text-align: left;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
  margin-top: 35px;
  display: none;
}


.contacts__dropdown:before {
  content: "";
  display: block;
  border: 11px solid transparent;
  border-top-width: 0;
  border-bottom-color: #fff;
  position: absolute;
  top: -11px;
  right: 0;
}

.contacts__dropdown:after {
  content: "";
  display: block;
  position: absolute;
  height: 25px;
  left: 0;
  right: 0;
  top: -25px;
}

.contacts__hours {
  font-size: 14px;
  font-weight: bold;
  color: #ec1e79;
  margin-bottom: 8px;
}

.contacts__lunch {
  font-size: 14px;
  color: #221f1f;
}

.contacts__phone {
    font-weight: bold;
    color: #ffffff;
    font-size: 21px;
    text-decoration: none;
    display: block;
    padding-top: 12px;
}

.contacts__shedule {
    float: right;
    color: #ec1e79;
    opacity: .7;
    font-weight: bold;
    font-size: 14px;
    display: block;
    line-height: 10px;
}

.contacts__elem:hover .contacts__shedule {
  color: #5dd1f8;
}

/*
* sidebar
*/

.sidebar {
    width: 180px;
    padding-top: 42px;
    padding-right: 10px;
    float: left;
}
.nav-menu {
    list-style: none;
}

.nav-menu__link {
    text-decoration: none;
    display: inline-block;
}

.nav-menu__item {
    display: inline-block;
    margin-bottom: 24px;
}

.nav-menu__item:last-child {
    margin-bottom: 0;
}

.nav-menu__icon {
    display: inline-block;
    vertical-align: middle;
}
.nav-menu__text {
    font-size: 12px;
    color: #ec1e79;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding-left: 11px;
}

.nav-menu__item_active .nav-menu__text {
  color: #221f1f;
  cursor: default;
}

.nav-menu__item_active .nav-menu__icon-main {
  background-image: url('../img/logo/sprite-sidebar.png');
  background-position: -20px -185px;
}

.nav-menu__item_active .nav-menu__icon-reviews {
  background-image: url('../img/logo/sprite-sidebar.png');
  background-position: -20px -39px;
}

.nav-menu__item_active .nav-menu__icon-rate {
  background-image: url('../img/logo/sprite-sidebar.png');
  background-position: -20px -114px;
}

.nav-menu__link:hover .nav-menu__text {
    color: #221f1f;
}

.nav-menu__icon-main {
    background-image: url('../img/logo/sprite-sidebar.png');
    background-position: -20px -150px;
    width: 20px;
    height: 18px;
    display: inline-block;
}

.nav-menu__link:hover .nav-menu__icon-main {
    background-image: url('../img/logo/sprite-sidebar.png');
    background-position: -20px -185px;
}

.nav-menu__icon-rate {
    background-image: url('../img/logo/sprite-sidebar.png');
    background-position: -20px -78px;
    width: 19px;
    height: 16px;
    display: inline-block;
}

.nav-menu__link:hover .nav-menu__icon-rate {
    background-image: url('../img/logo/sprite-sidebar.png');
    background-position: -20px -114px;
}

.nav-menu__icon-reviews {
    background-image: url('../img/logo/sprite-sidebar.png');
    background-position: -20px -0px;
    width: 21px;
    height: 19px;
    display: inline-block;
}

.nav-menu__link:hover .nav-menu__icon-reviews {
    background-image: url('../img/logo/sprite-sidebar.png');
    background-position: -20px -39px;
}

/*
* main page content
*/

.main-image {
  width: 880px;
  position: relative;
  margin-bottom: 19px;
}

.main-image__pic {
  width: 880px;
}

.main-image__title {
  position: absolute;
  top: 148px;
  left: 64px;
  font-size: 49px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
}

.main-content {
  float: right;
  width: 880px;
}

.main-content__text {
  max-width: 700px;
  margin-bottom: 10px;
  line-height: 29px;
}

.main-content__text_offer {
    font-weight: bold;
}

.main-content__list {
	color: #ec1e79;
  padding-left: 34px;
  padding-top: 7px;
}


.main-content__item-text {
    color: #000000;
    padding-left: 3px;
    margin-bottom: 7px;
}

.description {
    width: 700px;
    background-color: #27273e;
    color: white;
    margin-bottom: 55px;
    padding: 27px 30px 11px 30px;
}

.description__pink-text {
    color: #ec1e79;
    font-weight: bold;
}

/*
* Partners
*/

.partners__title {
    color: #221f1f;
    font-size: 49px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 29px;
}
.partners__list {
    list-style: none;
    width: 100%;
    margin-bottom: 22px;
}

.partners__item {
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    margin-right: 122px;
    margin-bottom: 43px;
}

.partners__link {
  display: inline-block;
}

.partners__item-logo1 {
    width: 160px;
    height: 41px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s;
}

.partners__item-logo1:hover {
    filter: none;
}

.partners__item-logo2 {
    width: 123px;
    height: 62px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s;
}

.partners__item-logo2:hover {
    filter: none;
}

.partners__item-logo3 {
    width: 130px;
    height: 62px;
    margin-left: 18px;
    margin-bottom: 7px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s;
}

.partners__item-logo3:hover {
    filter: none;
}

.partners__item-logo4 {
    width: 160px;
    height: 62px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s;
}

.partners__item-logo4:hover {
    filter: none;
}

.partners__item-logo5 {
    width: 137px;
    height: 62px;
    margin-right: 44px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s;
}

.partners__item-logo5:hover {
    filter: none;
}

.partners__item-logo6 {
    width: 51px;
    height: 62px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s;
}

.partners__item-logo6:hover {
    filter: none;
}

/*
* footer
*/

.footer {
    height: 77px;
    margin-top: -77px;
    background-color: #27273e;
    min-width: 100%;
}

.author {
    float: left;
    width: 270px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    line-height: 18px;
    padding-top: 12px;
}

.author__link {
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
}

.author__name {
    font-weight: bold;
    color: #ffffff;
}

.footer-logo {
    width: 517px;
    display: inline-block;
    text-align: center;
    padding-top: 14px;
}

.footer-logo__link {
    display: inline-block;
}

.social {
    width: 173px;
    float: right;
    display: inline-block;
}

.social__text {
    color: #ffffff;
	  font-weight: bold;
    font-size: 14px;
    padding-top: 17px;
}

.social-list {
	  list-style: none;
    padding-top: 4px;
    padding-left: 1px;
}

.social-list__item {
	  display: inline-block;
    padding-right: 5px;
}

.social-list__link {
  display: inline-block;
}

.social-list__item:last-child {
    margin-right: 0;
}

.social-link__icon {
    width: 20px;
    height: 20px;
	  background-repeat: no-repeat;
    display: inline-block;
}

.social-link__icon_vk {
	background-image: url('../img/logo/social-sprite.png');
  background-position: -20px -120px;
}

.social-link__icon_vk:hover {
	background-image: url('../img/logo/social-sprite.png');
  background-position: -100px -80px;
}

.social-link__icon_fb {
	background-image: url('../img/logo/social-sprite.png');
  background-position: -60px -0px;
}

.social-link__icon_fb:hover {
	background-image: url('../img/logo/social-sprite.png');
  background-position: -20px -0px;
}

.social-link__icon_gl {
	background-image: url('../img/logo/social-sprite.png');
  background-position: -20px -40px;
}

.social-link__icon_gl:hover {
	background-image: url('../img/logo/social-sprite.png');
  background-position: -100px -0px;
}

.social-link__icon_tw {
	background-image: url('../img/logo/social-sprite.png');
  background-position: -60px -80px;
}

.social-link__icon_tw:hover {
	background-image: url('../img/logo/social-sprite.png');
  background-position: -20px -80px;
}

.social-link__icon_ml {
	background-image: url('../img/logo/social-sprite.png');
  background-position: -100px -40px;
}

.social-link__icon_ml:hover {
	background-image: url('../img/logo/social-sprite.png');
  background-position: -60px -40px;
}


/*
* reviews page
*/
.main {
  width: 880px;
  padding-top: 42px;
  display: inline-block;
  float: right;
}

.main-nav {
    opacity: 0.8;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 13px;
}

.main-nav__links {
    color: #ec1e79;
}

.main__title {
    font-size: 49px;
    margin: 0 auto;
    margin-bottom: 29px;

}

.main__list {
    list-style-type: none;
}

.main__item {
  width: 880px;
  border-bottom: solid 2px #f5f5f5;
  margin-bottom: 28px;
}

.main__item:last-child {
  border-bottom: none;
  margin-bottom: 16px;
}

.item-avatar {
    width: 160px;
    float: left;
    text-align: center;
}

.main__item-img {
    float: left;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.main__item-content {
    width: 720px;
    float: left;
    padding-left: 20px;
    display: inline-block;
    margin-bottom: 19px;
}
.review-date {
    font-size: 14px;
    color: rgb(101,100,100);
    display: block;
    line-height: 12px;
    margin-bottom: 6px;
}

.review-author {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
}

.review-text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 31px;
}

.navigation {
  padding-left: 212px;
  margin-bottom: 70px;
  height: 25px;
  width: 100%;
}

.navigation__text {
  font-size: 14px;
  font-weight: 300;
  color: #656464;
  margin-right: 12px;
  display: inline-block;
}

.navigation__list {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}

.pagination {
  display: inline-block;
}

.pagination__arrow-left {
  background: url('../img/logo/arrow-left.jpg') no-repeat center;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.pagination__arrow-left_disabled {
  cursor: default;
  pointer-events: none;
}

.pagination__arrow-right {
  background: url('../img/logo/arrow-right.jpg') no-repeat center;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.navigation__item {
    text-align: center;
	  display: inline-block;
    vertical-align: middle;
}

.navigation__link:hover {
    background-color: #27273e;
    border-radius: 20%;
    color: #ec1e79;
}


.navigation__link {
    width: 25px;
    height: 25px;
    text-decoration: none;
	  font-weight: bold;
    font-size: 14px;
    padding: 4px 9px;
    color: #221f1f;
}

.navigation__item_active {
    background-color: #27273e;
    border-radius: 20%;
}

.navigation__link_active {
    color: #ec1e79;
}

/*
* form
*/

.form {
    width: 700px;
	  background-color: #f5f5f5;
    border-radius: 3px;
    padding: 38px 67px;
    margin-bottom: 48px;
}

.form__title {
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 6px;
}

.form__cell {
    width: 270px;
    display: block;
    float: left;
    margin-bottom: 18px;
}

.form__cell:first-child {
  margin-right: 20px;
}

.form__field-title {
	  font-size: 14px;
	  color: #000000;
}

.form__input-text {
    display: inline-block;
	  width: 100%;
    height: 45px;
    padding: 13px 8px;
	  border: 1px solid transparent;
    border-radius: 3px;
    font-size: 14px;
}

.form__input-text::-webkit-input-placeholder {
  color:#a9a8a8;
}
.form__input-text::-moz-placeholder {
  color:#a9a8a8;
}/* Firefox 19+ */

.form__input-text:focus {
    border-color: #ec1e79;
    outline: none;
}
.form__textarea {
    height: 90px;
	  width: 100%;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 10px 11px;
    resize: none;
    font-size: 14px;
}
.form__textarea:focus {
    border-color: #ec1e79;
    outline: none;
}

.form__radio {
  display: inline-block;
}

.form__radio-elem {
  display: none;
  vertical-align: middle;
}

.form__radio-fake {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid #cacaca;
  display: inline-block;
  background: -webkit-linear-gradient(top, #fdfdfd 0%,#ececec 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fdfdfd 0%,#ececec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
  cursor: pointer;
}

.form__radio-fake:after {
  content: "";
  display: none;
  width: 8px;
  height: 8px;
  background: #ec1e79;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.form__radio-text {
  display: inline-block;
  vertical-align: middle;
}

.form__radio-elem:checked + .form__radio-fake {
    border: 1px solid #ec1e79;
}

.form__radio-elem:checked + .form__radio-fake:after {
    display: block;
}

.form__radio-elem:checked + .form__radio-fake + .form__radio-text {
    color: #ec1e79;
}

.form__controls-left {
  float: left;
}
.form__btns {
  display: block;
}

.form__controls {
  width: 100%;
}
.form__controls-title {
  display: inline-block;
}

.form__controls-right {
  float: right;
  text-align: right;
}

.form__submit {
    width: 140px;
	  height: 45px;
	  background-color: #27273e;
	  text-align: center;
	  text-transform: uppercase;
	  font-weight: bold;
	  font-size: 12px;
	  color: #ffffff;
    border: 0px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

.form__submit:hover {
	  background-color: #ec1e79;
}


/*
* tariffs
*/

.prices {
    width: 880px;
    padding-top: 42px;
    float: right;
    box-sizing: border-box;
}

.prices-nav {
    font-size: 14px;
    font-style: italic;
    opacity: 0.8;
    margin-bottom: 13px;
}

.prices-title {
    font-size: 49px;
    font-weight: bold;
    margin: 0 auto;
}

.prices-nav__link {
    color: #ec1e79;
}

.tariffs {
    width: 880px;
    display: block;
}

.tariffs__list {
  width: 100%;
  padding-top: 29px;
  margin-bottom: 20px;
}

.tariffs__item {
  width: 250px;
  display: inline-block;
  margin-left: 55px;
  vertical-align: top;
  margin-bottom: 50px;
  text-align: center;
}

.tariffs__item:nth-child(3n+1) {
  margin: 0;
}
.tariffs__img {
    height: 155px;
    background: #27273e;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.tariffs__img-pic {
    opacity: .15;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.tariffs__price {
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    width: 240px;
}

.tariffs__text {
    font-size: 14,02px;
    padding-top: 6px;
    line-height: 21px;
}

.tariffs__item-title {
    font-size: 24px;
    font-weight: bold;
    color: #5dd1f8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
}

.pink-title {
    color: #ec1e79;
}

.tariffs__text {
    font-size: 14px;
    font-weight: 300;
    width: 240px;
}
